.text_box{
display:flex;
flex-direction: column;

width:100%;
width: 350.79px;
gap:25px;
}

.text_box_header{
    margin-top: 10%;
    width:80%;
    text-align: left;
    height: 60.73px;
    font-style: normal;
    font-weight: 700;
    font-family: "red-hat-display", serif;
    font-size: 29.4759px;

    letter-spacing: .02em;
    
    color: #FFFFFF;
     
}

.text_box_description{
    width: 75%;
    text-align: left;

    margin-block-start: 0em;
    margin-block-end: 0em;
    
    font-family: "red-hat-display", serif;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 400;
    font-size: 17.6957px;
    
    
    color: #FFFFFF;
 
     
}


.text_box_list{
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style: none;
    display:flex;
    gap:15px;
    color:white;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    padding:0px;
    padding-inline-start: 0px;
}
.text_box_list li{
    font-family: "istok-web", serif;
    display:flex;
    font-weight: 400;
font-size: 13.3565px;
line-height: 19px;
display: flex;
align-items: center;
justify-content: flex-start;
color: #B8CBD6;

}

.button_row{
    width:100%;
    display: flex;
    justify-content: flex-start;
    gap:15px;
}