.home_hero_parent{
    display:flex;
    justify-content:center ;
    align-items: center;
    height:516.22px;
    width:100%;
    overflow: hidden;
    background-image: url("../../../public/home_hero_image_1.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.home_hero_image{
    display:inline-flex;
    position:absolute;
    width:100%;
    height:auto;
    object-fit:cover;
 
}

.home_hero_gradient_overlay{
    position:absolute;
    height:516.22px;
    width:100%;
    z-index:1;
    background: linear-gradient(0deg, rgba(14, 44, 71, 0.88), rgba(14, 44, 71, 0.88)), linear-gradient(180deg, rgba(0, 0, 0, 0) 22.4%, #000000 91.15%, #1C434B 99.48%);
}
.home_hero_content_container{
    display:flex;
    justify-content:flex-start ;
    align-items: center;
    height:100%;
    width:65%;
    background:transparent;
    z-index:2;
    margin-top: 0%;
}