.category_card_parent{
    width: 367.43px;
    height: 144.24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 41.15%, rgba(219, 232, 237, 0.8) 100%), #FFFFFF;
    border: 1px solid rgb(233, 235, 240);
    border: 0.759151px solid rgba(212, 212, 215, .7);
    border-radius: 18.2196px;
    display:flex;
    align-items: center;
    justify-content: center;    
    cursor:pointer;


    box-shadow: 0px 7.59151px 22.7745px 3.03661px rgba(93, 128, 143, 0.15);


}
.category_card_content{
    width: 100%;
height: 100%;
   


border-radius: 18.2196px;
display:flex;

-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
box-shadow: 0px 7.59151px 22.7745px 3.03661px rgba(93, 128, 143, 0.15);


}
.category_card_images{
    display:flex;
    position:absolute;
    margin-left: 10px;
    margin-top: 20px;

}
.category_card_front_image{
    position:absolute;
    display: flex;
    top:-20%;
    left: -20%;
    z-index:-1;
}

.category_card_text_content{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-top: -3%;
    gap:5px;
  
}


.category_card_text_header{
    width:100%;
    font-family: 'red-hat-display';
font-style: normal;
font-weight: 600;
font-size: 24.2928px;
line-height: 32px;
display: flex;
align-items: center;

color: #59677B;
}


.category_main_theme_line{
    align-self: flex-start;
    width: 70%;
    height: 1.52px;
    height: 1.578px;
    background: linear-gradient(97.48deg, #33F2D0 -24.05%, #0062BC 71.4%);
    border-radius: 7.59151px;
}
.category_card_text_subtext{
    font-family: 'red-hat-display';
    width: 179.16px;
    font-style: normal;
    font-weight: 400;
    font-size: 15.183px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #59677B;
    
}


