.secondary_section_text_parent{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
}
.secondary_section_text_parent .top_items{
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.secondary_section_text_parent .header_line{
    width:75%;
    max-width: 788px;
    height: 77.43px;
    margin-top: -7%;
    position:absolute;
    border-top: 1.5183px solid rgba(7, 166, 255, 0.15);
    border-radius: 7.59151px;
}

.secondary_section_text_header{
    width:70%;
    font-family: 'red-hat-display',serif;
font-style: normal;
font-weight: 600;
font-size: 39.4759px;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;


}
.descriptions_parent{
    display: flex;
align-items: center;
text-align: center;
flex-direction: column;
gap:25px;
margin-top:0%;

}
.secondary_section_text_first_description{
    width: 546.12px;

    font-family: 'red-hat-display',serif;
    font-weight: 400;
font-size: 19.7379px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.secondary_section_text_second_description{
    font-family: 'red-hat-display',serif;
    text-align: center;
    width: 466.12px;


    font-weight: 400;
font-size: 19.7379px;
line-height: 26px;

color: #000000;
}
.secondary_section_text_second_description span{
color: #01A2FC;
}
