html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
    font-family: 'istok-web';
    src: local('istok-web'), url(../public/IstokWeb-Regular.ttf) format('truetype');


  }


  @font-face {
    font-family: 'red-hat-display';
    src: local('red-hat-display'), url(../public/fonts/RedHat/RedHatDisplay-Regular.ttf) format('truetype');


  }

:root{

  --home-hero-height:620.22px;
  --product-category-card-width: 331.15px;
  --product-category-card-height: 130px;
  --product-category-card-header-size: 21.89px;
  --product-category-card-subtext-size: 13.68px;
  --product-category-card-subtext-width: 13.68px;
  --image-display-base-width: 117.68px;
  --image-display-base-height: 91.68px;
--main-header-size:35.98px;
  --light-gradient:0;
  --button-gradient:0;
  --line-gradient:0
 
}




  .istok-font{
    font-family: "istok-web", serif;
    color: white;
  }
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@media only screen and (max-width:900px){
  :root{




  }
  
}