html,
body {
  transition: 0.25s ease-in-out;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
    font-family: 'istok-web';
    src: local('istok-web'), url(../public/IstokWeb-Regular.ttf) format('truetype');


  }


  @font-face {
    font-family: 'red-hat-display';
    src: local('red-hat-display'), url(../public/fonts/RedHat/RedHatDisplay-Regular.ttf) format('truetype');


  }

  body,
body[data-theme="light"] {
    --font-color: #000000;
    --body-bg-color: #ffffff;
    --hero-gradient-color-main: #EAF7FF;
    --hero-gradient-color-secondary: #FAFAFA;
    --hero-gradient: linear-gradient(180deg, var( --hero-gradient-color-main) 0%, var(--hero-gradient-color-secondary) 21.88%);
   
    --category-card-background-color-main: rgba(255, 255, 255, 0);
    --category-card-background-color-secondary:rgba(219, 232, 237, 0.8);
    --category-card-background-color-final: #FFF;
   
    --category-card-background-color: linear-gradient(180deg, var( --category-card-background-color-main)  41.15%, var( --category-card-background-color-secondary) 100%), var( --category-card-background-color-final);
  
  
  }
  body[data-theme="dark"] {
    
    --font-color:#ffffff;
    --hero-gradient-color-main:: #000000;
    --hero-gradient-color-secondary: #031734;
    
    --hero-gradient: linear-gradient(180deg, #000000 70.31%, #032134 100%);

    --category-card-background-color-main: #000000 ;
    --category-card-background-color-secondary:#141F30;
    --category-card-background-color-final: #FFF;

    --background1: linear-gradient(180deg, #000000 84.9%, #141F30 100%), #FFFFFF;
 
  }
  

:root{

  --home-hero-height:620.22px;
  --product-category-card-width: 331.15px;
  --product-category-card-height: 130px;
  --product-category-card-header-size: 21.89px;
  --product-category-card-subtext-size: 13.68px;
  --product-category-card-subtext-width: 13.68px;
  --image-display-base-width: 117.68px;
  --image-display-base-height: 91.68px;
--main-header-size:35.98px;
  --light-gradient:0;
  --button-gradient:0;
  --line-gradient:0
 
}


  .istok-font{
    font-family: "istok-web", serif;
    color: white;
  }
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@media only screen and (max-width:900px){
  :root{




  }
  
}