.subheading_parent{
    width: 100%;
    height: 504.08px;
    background: linear-gradient(180deg, #EAF7FF 0%, #FAFAFA 21.88%);
    background: var(--hero-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    
}